<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hanzel's Todo</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="d-flex justify-content-center">
        <h1 class="text-center">Hanzel's Todo-ist</h1>
    </div>
    <hr />
    <div class="d-flex flex-column align-items-center">
        <form>
            <input id="todo-text" type="text" placeholder="The thing you want do to" ></input>
            <button id="add-button">Add</button>
        </form>
        <div id="todo-container">
            
        </div>
    </div>
    <script src="{{url_for('static', filename='index.js')}}"></script>
</body>
</html>